body {
    background: url("../images/background1.png");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Roboto, sans-serif;
    color: white;
}
.container {
    width: 1030px;
    margin: 0 auto;
}
.container.header {
    margin-top: 46px;
    margin-bottom: 22px;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    display: inline-flex;
    justify-content: space-between;
    text-align: center ;
}
.title {
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6px;
    color: white;
}
.title.line1 {
    font-size: 32px;
}
.title.line2 {
    font-size: 20px;
}
.main__logo{
text-decoration: none;
    display: flex;
}
svg{
    background-image: url("../images/logodome.svg");
}
.logo:hover svg{
    background-image: url("../images/logo2.svg");
}

.logo:hover span{
    color: #F26522;
}
.contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
}
.contacts__email {
    margin-bottom: 19px;
    text-decoration: none;
    color: white;
}
.contacts__phone {
    text-decoration: none;
    color: white;
}
.container.grid-container {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 61px 37px;
    margin-bottom: 49px;
}
.grid-item1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item1__icon-wrapper{
    width: 300px;
    height: 220px;
    background-image: url("../images/shopping.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.grid-item2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item2__icon-wrapper {
    width: 300px;
    height: 220px;
    background-image: url("../images/sightseeing.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.grid-item3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item3__icon-wrapper {
    width: 300px;
    height: 220px;
    background-image: url("../images/food.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.grid-item4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item4__icon-wrapper {
    width: 300px;
    height: 220px;
    background-image: url("../images/bars.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.grid-item5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item5__icon-wrapper {
    width: 300px;
    height: 220px;
    background-image: url("../images/art.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.grid-item6 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.grid-item6__icon-wrapper {
    width: 300px;
    height: 220px;
    background-image: url("../images/walking.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 20px;
}
.grid-text {
    font-size: 18px;
    color: white;
    font-weight: 700;
    transition: 0.5s;
}
.grid-container__link {
    text-decoration: none;
}
.icon__card {
    max-width: 300px;
    height: 55px;
    margin-top:165px;
    background-color: #F26522;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-weight: 700;
    overflow: hidden;
    position: relative;
    visibility: hidden;
    transition: 0.5s;
}
.icon__card__text1 {
    align-self: flex-start;
    font-size: 10px;
    position: absolute;
    top: 7px;
    left: 16px;
}
.icon__card__text2 {
    align-self: flex-start;
    font-size: 20px;
    position: absolute;
    bottom: 12px;
    left: 16px;
}
.icon__card__text3 {
    align-self: flex-end;
    font-size: 14px;
    position: absolute;
    right: 37px;
    bottom: 12px;
}
.icon__card__text3:after {
    content: ">";
    position: absolute;
    right: -16px;
}
.footer-container {
    max-width: 306px;
    margin: 0 auto;
    font-size: 12px;
    font-weight: 700;
    margin-bottom: 15px;
}
.grid-container:hover .icon__card {
    visibility: visible;
    transition: 0.5s;
}
.grid-container:hover .grid-text {
    color: #F26522;
    transition: 0.5s;
}

